# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# On-premise IS configuration

# The agent namespace
# agent.namespace=${SW_AGENT_NAMESPACE:default-namespace}

# The service name in UI
agent.service_name=${SW_AGENT_NAME:ONPREMISEIS}

# The agent tenant ID to use. Only applicable to onprem APIGW as of today
agent.onprem_tenant_id=${SW_AGENT_ONPPREM_TENANT_ID:default}

# The number of sampled traces per 3 seconds
# Negative number means sample traces as many as possible, most likely 100%
agent.sample_n_per_3_secs=${SW_AGENT_SAMPLE:-1}

# Property to enable Sagcloud based authentication 
agent.onprem = ${SW_AGENT_ONPREM:true}

# Property to initiate a secure channel communication 
agent.tls = ${SW_AGENT_TLS:true}

# Authentication active is based on backend setting, see application.yml for more details.
# agent.authentication = ${SW_AGENT_AUTHENTICATION:xxxx}

# Multi-account support for specific alias
# agent.onprem_multitenant_alias = ${SW_AGENT_ONPREM_MULTITENANT_ALIAS:default}

# The max amount of spans in a single segment.
# Through this config item, skywalking keep your application memory cost estimated.
# agent.span_limit_per_segment=${SW_AGENT_SPAN_LIMIT:300}

# Ignore the segments if their operation names start with these suffix.
# agent.ignore_suffix=${SW_AGENT_IGNORE_SUFFIX:.jpg,.jpeg,.js,.css,.png,.bmp,.gif,.ico,.mp3,.mp4,.html,.svg}

# If true, skywalking agent will save all instrumented classes files in `/debugging` folder.
# Skywalking team may ask for these files in order to resolve compatible problem.
# agent.is_open_debugging_class = ${SW_AGENT_OPEN_DEBUG:true}

# Name of the file for writing segments
agent.segment_local_file = ${SW_AGENT_SEGMENT_LOCAL_FILE:segment-trace.log}

# Interval after which data will be send through channel
agent.trace_transfer_interval = ${SW_AGENT_TRACE_TRANSFER_INTERVAL:180000}

# Property to establish a cloud communication
collector.establish_cloud_communication = ${SW_AGENT_COLLECTOR_ESTABLISH_CLOUD_COMMUNICATION:true}

# Logging level
logging.file_name=${SW_LOGGING_FILE_NAME:e2eagent.log}
logging.level=${SW_LOGGING_LEVEL:INFO}
# Maximum size of the log file (in byte)
logging.max_file_size=${SW_LOGGING_MAX_FILE_SIZE:10485760}
# Maximum count of the log files to be stored
logging.max_file_count=${SW_LOGGING_MAX_FILE_COUNT:10}

#The buffer size for storing TraceSegments. Total segments that can be stored are buffer.channel_size * buffer.buffer_size
#Total no of channels
buffer.channel_size=6
#Total no of TraceSegments in one channel
buffer.buffer_size=5000