<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="name">docker_OP</value>
    <value name="description">docker_OP</value>
    <number name="lastUploadedTime" type="java.lang.Long">1635333182531</number>
    <number name="lastSavedTime" type="java.lang.Long">1635333184625</number>
    <array name="packages" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="package">Devtest</value>
        <array name="details" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="serviceName">DevTest.OnPrem:service</value>
            <value name="displayName">service</value>
            <jboolean name="isShared">true</jboolean>
            <jboolean name="useBatch">false</jboolean>
          </record>
        </array>
      </record>
    </array>
    <array name="connections" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="connectionName">Srini_OP_docker</value>
        <value name="connectionStage">stage00</value>
        <value name="tenantAlias">default</value>
      </record>
    </array>
    <array name="tenantAliases" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="tenantAlias">default</value>
      </record>
    </array>
  </record>
</IDataXMLCoder>
